<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
      .verde {
        background-color: green;
      }
      .branco {
        background-color: white;
      }
      .azul {
        background-color: blue;
      }
      .vermelho {
        background-color: red;
      }
      .negrito {
        font-weight: bold;
      }
      .borda {
        border: 1px solid;
      }

      .div-principal {
        width: 200px;
        height: 200px;
      }
      .div-comum {
        width: 50px;
        height: 50px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <ul>
        <li v-for="c in comentarios">{{c.id}} - {{c.comentario}}</li>
      </ul>
      <button @click="adicionarElemento()">Adicionar</button>
      <button @click="removerElemento()">Remover</button>
      <button @click="modificarElemento()">Modificar</button>
      <hr>
      <ul>
        <li v-for="n in 10">{{n}}</li>
      </ul> -->
      <!-- {{somar()}}<br>
        {{subtrair()}}<br>
        {{multiplicar()}}<br>
        {{dividir()}}<br> -->

      <!-- {{mensagem}}<br /> -->
      <!-- Valor total: {{valorTotal}}<br />
      Logado: {{logado}}<br />
      Hobbie:{{hobbies[1]}}<br />
      Perfil:{{perfil.site}},{{perfil.cursos[0].nome}} -->

      <!-- <a :href="site">Site</a>
      <p :class="cor" class="negrito">Entendendo a diretiva v-bind</p>
      <input type="text" name="" id="" v-bind:placeholder="instrucaoDePreenchimento" v-bind:value="valor">
      <input type="checkbox" name="" id="" v-bind:checked="check"> -->
      <!-- {{2+2}}
        <input type="text" name="" id="" :value="mensagem" :class="teste?'verde':estilo"> -->
      <!-- <input type="text" name="" id="" @keyup="imprimirTexto('Enviando parâmetro')">
      <button v-on:click="mensagemAlerta($event)">Botão</button> -->
      <!-- <div class="borda div-principal" :class="cor">
        Cor: {{cor}}
        <br>
        Posição X do Mouse: {{posX}}
        Posição Y do Mouse: {{posY}}
      </div>
      <hr>
      <div @click="mudarCor('verde')" class="borda div-comum"></div>
      <div @mouseover="mudarCor('azul')" @mouseout="mudarCor('vermelho')" class="borda div-comum"></div>
      <div @mousemove="coordenadas($event)" class="borda div-comum"></div> -->
      <!-- <a href="https://www.andrelemos.site/" 
      target="_blank" 
      v-on:click.prevent="prevenirComportamentoPadrao()">Link</a>
      Mensagem:{{msg}}
      <hr>
      <button @click.once="executarUmaVez()">Botão</button>
      <p>Cliques: {{cliques}}</p>
      <hr>
      <form action="" @submit.prevent.once="prevenirUmaVez()">
        <button type="submit">Enviar</button>
      </form>
      <p>Formulário: {{formulario}}</p>
      <hr>
      <input type="text" name="" id="" @keyup.x.c="capturandoTeclas($event)">
      <p>Teclas: {{teclas}}</p> -->
      <!-- <input type="text" name="" id="inputTexto">
      <button @click="selecionarElementoFilho()">Botão</button>
      <select name="" id="opcoes">
        <option value="A">Opcao 1</option>
        <option value="B">Opcao 2</option>
        <option value="C">Opcao 3</option>
        <option value="D">Opcao 4</option>
        <option value="E">Opcao 5</option>
      </select>
      <br>
      <p id="paragrafo" style="color:red">Parágrafo</p>
      <button @click="selecionarElementoFilho()">Botão</button>
      <div id="bloco">Conteúdo interno da div</div> -->
      <!-- <button @click="exibirSaldo=!exibirSaldo">
        <span v-if="!exibirSaldo">Exibir Saldo</span>
        <span v-if="exibirSaldo">Ocultar Saldo</span>
      </button>
      <p>Saldo: <span v-if="exibirSaldo">R$ {{saldo}}</span></p>
      <hr>

      Idade: <input type="text" name="" id="inputIdade" @blur="setIdade()">
      <p v-if="idade < 18"> Menor de idade</p>
      <p v-else> Maior de idade</p>
      <hr>

      Nota: <input type="text" name="" id="inputNota" @blur="setNota()">
      <p v-if="nota==''">Digite a nota do aluno</p>
      <p v-else-if="nota >= 7 && nota<=10">Aluno aprovado</p>
      <p v-else-if="nota >= 5 && nota<7">Aluno em recuperação</p>
      <p v-else-if="nota >= 0 && nota<5">Aluno reprovado</p>
      <p v-else>Nota informada é invalida</p> -->
      <!-- <p @mouseover="exibirTextoAjuda=true" @mouseout="exibirTextoAjuda=false">Exemplo tooltip</p>
      <div v-show="exibirTextoAjuda">
        <h3>Título texto ajuda</h3>
        <p>Conteudo texto ajuda</p>
      </div> -->
      <!-- <div v-html="elementosHTML">
        
      </div> -->
      <!-- <div v-text="elementosHTML"></div> -->
      <!-- <p v-once>Saldo inicial: {{saldo}}</p>
       <p>Saldo atualizado: {{saldo}}</p>
       <input type="text" name="" id="valor">
       <button @click="creditar()">Creditar</button>
       <button @click="debitar()">Deditar</button> -->
      <!-- <ul>
        <li v-for="(curso, key) in cursos" v-text="key +' - '+ curso"></li>
      </ul>
      <hr>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="({titulo,descricao},chave) in cursos2">
            <td>{{chave}}</td>
            <td>{{titulo}}</td>
            <td>{{descricao}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <ul>
        <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom: 10px;" :key="p.id">
          <div>
            {{p.publicacao}}
            <hr>
            <input type="text">
          </div>
          
        </li>
      </ul>
      <button @click="misturarArray()">Misturar publicações</button> -->
      <!-- <template v-if="saudacao">
        <h1>Boas vindas</h1>
        <p>Conteúdo da tag <strong>template</strong></p>
      </template>

      <template v-for="n in 10">
        <p>2 x {{n}} = {{2*n}}</p>
      </template> -->
      <h4>Adicionar pacientes</h4>
      <span>Nome: </span><input type="text" name="" id="inputNome" /><br />
      <span>Idade: </span><input type="text" name="" id="inputIdade" /><br />
      <span>Plano: </span><input type="text" name="" id="inputPlano" /><br />
      <button @click="adicionarPaciente()">Adicionar</button>
      <hr>

      <h4>Último paciente cadastrado</h4>
      <p v-if="pacientes.length > 0">
        Paciente {{pacientes[pacientes.length-1].nome}},
        Idade {{pacientes[pacientes.length-1].idade}},
        Plano {{pacientes[pacientes.length-1].plano}}
      </p>

      <hr>
      <h4>Pacientes do plano Ouro</h4>
      <p v-for="p in pacientes">{{p.plano == 'Ouro'?p.nome:''}}</p>

      <hr>
      <h4>Pacientes cadastrados</h4>
      <p v-for="p in pacientes">{{p.nome}}</p>
    </div>

    <script>
      const vm = new Vue({
        el: "#app", //# id e . class
        data: {
          //saldo:1100
          // n1:10,
          // n2:5
          //   //Variaveis reativas
          //   mensagem: "Primeiro template controlado pelo Vue", //string
          //   valorTotal: 150.7,
          //   logado: false,
          //   hobbies: ["Dormir", "Video games", "Trilhas", "Correr"],
          //   perfil: {
          //     nome: "Jorge",
          //     site: "jorge.com.br",
          //     idade: 33,
          //     cursos: [
          //       { nome: "Laravel", cargaHoraria: "50 horas" },
          //       { nome: "Bancos de Dados Relacionais", cargaHoraria: "40 horas" },
          //     ],
          //   },
          // site:'https://www.andrelemos.site/',
          // cor:"verde",
          // instrucaoDePreenchimento:"Placeholder- v-bind",
          // valor:"Entendendo a diretiva v-bind",
          // check:true
          // mensagem:"Expressão",
          // estilo:"azul",
          // teste:true
          // cor:'',
          // posX:0,
          // posY:0
          // msg:'',
          // cliques:0,
          // formulario:'',
          // teclas:''
          // saldo:4570.17,
          // exibirSaldo:false,
          // idade:0,
          // nota:0
          // exibirTextoAjuda:false
          //elementosHTML:'<p><b>Site</b></p><a href="https://www.andrelemos.site/">Andy</a>'
          // comentarios:[
          //   {id:1,comentario:'Comentario 1'},
          //   {id:2,comentario:'Comentario 2'},
          //   {id:3,comentario:'Comentario 3'},
          // ],
          // cursos: [
          //   "Laravel",
          //   "Web Completo",
          //   "Banco de Dados",
          //   "Solid",
          //   "Angular",
          // ],
          // cursos2: {
          //   1000: {
          //     titulo: "Laravel",
          //     descricao: "Domine o framework PHP mais poderoso do mundo",
          //   },
          //   1001: {
          //     titulo: "Banco de dados",
          //     descricao: "Aprenda os principais banco de dados",
          //   },
          // },
          // publicacoes:[
          //   {id:1,publicacao:'Publicações 1'},
          //   {id:2,publicacao:'Publicações 2'},
          //   {id:3,publicacao:'Publicações 3'}
          // ]
          //saudacao:true
          pacientes: [],
        },
        methods: {
          // somar:function somar(){ // Convencional
          //     return this.n1+this.n2;
          // },
          // subtrair:function(){ //Anônima
          //     return this.n1-this.n2;
          // },
          // multiplicar:()=>{ //arrow function
          //     return this.n1*this.n2; // Contexto léxico
          // },
          // dividir(){//forma enxuta de definir os pares de chave/valor
          //     return this.n1/this.n2;
          // },
          //  imprimirTexto(t){
          //   console.log(t);
          //  },
          //  mensagemAlerta(e){
          //   console.log(e);
          //  }
          // mudarCor(c){
          //   this.cor=c;
          // },
          // coordenadas(e){
          //   this.posX=e.clientX;
          //   this.posY=e.clientY;
          // }
          // prevenirComportamentoPadrao(){
          //   this.msg="Comportamento padrao ativado"
          // },
          // executarUmaVez(){
          //   this.cliques++;
          // },
          // prevenirUmaVez(){
          //   this.formulario="Prevenindo o comportamento padrão"
          // },
          // capturandoTeclas(event){
          //   this.teclas += event.key;
          // }
          // selecionarElementoFilho(){
          //   //console.log(inputTexto.value);
          //   //console.log(opcoes.value);
          //   //console.log(paragrafo.style.color);
          //   console.log(bloco.innerHTML);
          // }
          // setIdade(){
          //   this.idade=inputIdade.value;
          // },
          // setNota(){
          //   this.nota=inputNota.value;
          //   console.log(this.nota);
          // }
          // creditar(){
          //   this.saldo+=parseFloat(valor.value);
          // },
          // debitar(){
          //   this.saldo-=parseFloat(valor.value);
          // }
          // misturarArray(){
          //   let misturado=[];
          //   misturado[0]=this.publicacoes[2];
          //   misturado[1]=this.publicacoes[0];
          //   misturado[2]=this.publicacoes[1];

          //   this.publicacoes=misturado;
          // },
          // adicionarElemento(){
          //   // this.comentarios[3]={id:4,comentario:'Novo comentário'}
          //   // console.log(this.comentarios);
          //   this.comentarios.push({id:4,comentario:'Novo comentário'});
          // },
          // removerElemento(){
          //   this.comentarios.pop();
          // },
          // modificarElemento(){
          //   this.$set(this.comentarios,1,{id:4,comentario:'Comentário atualizado'})
          // }
          adicionarPaciente() {
            this.pacientes.push({
              nome: inputNome.value,
              idade: inputIdade.value,
              plano: inputPlano.value,
            });
          },
        },
      }); //vm = ViewModel
    </script>
  </body>
</html>
